.navbar {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 20px;
  }
  
  .navbar-brand h1 {
    color: var(--primary);
    font-size: 1.8rem;
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-link {
    color: #4b5563;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: var(--secondary);
  }
  
  .explore-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .explore-btn:hover {
    background-color: #1e40af;
  }
  
  .mobile-explore-btn {
    display: none;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #2563eb;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .navbar-links {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: white;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: left 0.3s ease-in-out;
      z-index: 1000;
      gap: 30px;
    }
  
    .navbar-links.drawer-open {
      left: 0;
    }
  
    .navbar-explore {
      display: none;
    }
  
    .mobile-explore-btn {
      display: block;
    }
  
    .menu-toggle {
        color: black!important;
      display: block;
    }
  
    .nav-link {
      font-size: 1.2rem;
    }
  }

  .p_btn:hover{
    background-color: var(--secondary);
  }