
:root{
    --primary:#012139;
    --secondary:#ff440e;
    --tertiary:#b5d4e5;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.primary{
    background-color: var(--primary);
}

.tp{
    color: var(--primary)
}

.secondary{
    background-color: var(--secondary);
}

.ts{
    color: var(--secondary)
}

.solid-btn{
    border-color: white;
    color: white;
}

.solid-btn:hover{
    background-color: white;
    color: var(--primary);
}

.p-btn{
    border: 1px solid var(--primary);
    min-width:100px;
}

.p-btn:hover{
    background-color: var(--primary);
    color:white
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
  
.team_card{
    transition: transform 0.4s ease;
}

.team_card:hover{
   transform: scale(1.03);
}

.header{
    background-color: #012139d0;
}

.border_grad{
    border: 20px solid;
    border-image-slice: 4;
    border-width: 5px;
    border-radius: 10px;
}



.s_border{
    border-image-source: linear-gradient(var(--primary), var(--secondary));
    animation:gradientMove 6s linear infinite;
}

@keyframes gradientMove {
    0% {
        border-image-source: linear-gradient(var(--tertiary), var(--secondary));
    }
    50% {
        border-image-source: linear-gradient(var(--secondary), var(--primary));

    }
    100% {
        border-image-source: linear-gradient(var(--tertiary), var(--secondary));

    }
  }